# Database configuration
DB_NAME=core_vault
DB_USER=postgres
# Make sure to set a very strong password for your database!
DB_PASSWORD=core_vault_db_secure_password_1337

# JWT secrets (Generate strong random keys using: openssl rand -base64 48)
JWT_SECRET=please-change-this-to-a-very-long-random-string
REFRESH_SECRET=please-change-this-to-another-very-long-random-string

# AI "Ask a Question" (Optional - Enable Gemini LLM disambiguation support)
GEMINI_API_KEY=

# Cors domain (usually your subdomain)
CORS_ORIGIN=https://core.navigotechsolutions.com
